
html{
  scroll-behavior: smooth;
}
/* Video de fondo */
#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  background-size: 100%;
}

/* Encabezado */
header {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 100;
  margin-left: 35vw;
  border-radius: 15px;
  opacity: 0.7;
  top: 0;
  margin-top: 2%;
}

/* Navegación */
nav {
  float: left;
  margin-left: -3%;
}

nav ul {
  list-style: none;
  overflow: hidden;
  display: inline-block;
}

nav ul li {
  float: left;
  font-family: "Inter";
  font-size: 20px;
  position: relative;
}

nav ul li a {
  display: block;
  padding: 20px;
  color: #fff;
  text-decoration: none;
}

nav ul li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s ease;
}

nav ul li:hover::after {
  width: 100%;
}

/* Página de inicio */
.frontPage {
  margin-top: 13%;
  margin-bottom: 10%;
}

h1 {
  color: white;
  opacity: 0.7;
  font-family: "Inter";
  text-align: center;
  font-size: 400%;
}

.frontPage img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Galería de imágenes */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.gallery-item {
  text-align: center;
  margin-right: 1em;
}

.gallery img {
  width: 20em;
  height: 20em;
  object-fit: cover;
  transition: transform 0.3s ease;
  margin-bottom: 10px;
  border-radius: 15px;
  opacity: 0.85;
}

.gallery img:hover {
  transform: scale(1.1);
}

.gallery-caption {
  font-size: 2em;
  color: white;
  position: relative;
  opacity: 0.85;
  font-family: "Inter";
}

.gallery-caption::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: width 0.3s ease;
  
}

.gallery-caption:hover::after {
  width: 100%;
}

/* Elimina subrayado de enlaces */
a {
  text-decoration: none;
}
/* Otras reglas de estilo */

.contactMe { 
  background-color: white;
  width: 80vw;
  height: 50%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 15px;
  padding: 5%;
  box-shadow:0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 
  0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px
   rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 
   0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
   opacity: 80%;
}

.iconContact{
  width: 10%;
  height: 15%;
  margin-right: 4%;
}

.textacos{
  margin-top: 1em; /* Agrega un margen superior para separar los elementos */
  align-items: center; /* Centra los elementos horizontalmente */
  display: flex;
}

.espacio{
  margin-bottom: 30%;
}
.espacioMenu{
  padding-top: 20px; 
  margin-top: -20px;
}
h2 {
  color: whitesmoke;
  opacity: 70%;
  text-align: center;
  font-family: "Inter";
}

.aboutME{
    opacity: 100%;
    top: 50%; 
    right: 50%;
    text-transform: uppercase;
    font-family: verdana;
    font-size: 3vw;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
    margin-right: 5vw;
    margin-left: 5vw;
}

h3{
  font-size: 5vw;
  color: black;
  opacity: 0.7;
  font-family: "Inter";
  text-align: center;
}
h3:hover{
  opacity: 1;
}
@media only screen and (max-width: 768px) {
  /* Encabezado */
  header {
    margin-left: 0; /* Ajusta el margen izquierdo para centrarlo */
    width: 100%; /* Ajusta el ancho al 100% */
    text-align: center; /* Centra el texto */
  }

  /* Navegación */
  nav ul {
    padding: 0; /* Elimina el relleno de la lista */
  }

  nav ul li {
    display: inline-block; /* Cambia la visualización a en línea */
    margin: 0 10px; /* Añade espacio entre elementos */
  }
  .frontPage{
    padding-top: 10vh;
  }
}
.footer{
  margin-top: 10%;
}

.footerArrow{
  position: fixed;
  right: 0;
  bottom: 0;
  width: 5vw;
  filter: invert(1);
  margin-right: 2vw;
  margin-bottom: 2vw
}
.footerArrow:hover{
  filter: invert(80%);
}
.texto-container {
  padding: 20px;
  font-family: "Inter";
  font-size: 24px;
  height: 50px;
  margin-bottom: 10vw;
  

}

/* Efecto de escritura */
.escribiendo {
  animation: escribir 3s steps(40, end);
}

@keyframes escribir {
  from {
      width: 0;
  }
  to {
      width: 100%;
  }
}
.textoAuto{
  color: white;
}
.chapa{
  margin-left: 10vw;
  margin-right: 10vw;
}